<div class="center jumbotron">
  
  <p><%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlg" %></p>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>--><!--changed-->
</div>   
   
  