<div class="footerdiv">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.griffith.ie"> Ruby on Rails</a>
      by <a href="http://www.griffith.ie">Osama Abushama</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>  
</div>  